
*{ box-sizing: border-box;}

body{ 
    font-size: 100%; 
    margin:1em;
    background-color:#FFE9F3;
}


img{ max-width: 100%;}


.wrapper {
        display: grid;
         grid-gap: 2%;
        grid-template-columns: 32% 32% 32%;
        grid-template-areas: 

        "menu menu menu"
            "chisono chisono immagine"
            "cosastudio cosastudio cosastudio"
            "marketingespresso start2impact lucalamesa"
            "digitalcoach ninjacademy labfortraining"
            "filosofia filosofia filosofia"
             "circus circus circus"
            "percorsolavoro percorsolavoro percorsolavoro"
            "lausanne webcontent sheraton"
        "marriott disney hhotels"
        "inizio inizio inizio"
            "skills skills skills"
            "interessi interessi interessi"
             "social social social"
        "footer footer footer"
            "footer footer footer"
            

    }


span {font-family: 'Raleway', sans-serif;
color: blueviolet;
font-size: 1em;}

.box {
       
        color:black;
 border-radius: 2px;
        padding: 10px;
       font-family: 'Unica One', cursive;
    }
 

/*inizio del box chi sono*/

.chisono {
        grid-column: 1 / 4;
        grid-row: 3;
        text-align:center;
        font-size: 0.7em;
        background-color:#323F99;
        list-style: none;
    background-color: #B27092;
    padding: 10px;
         font-family: 'Raleway', sans-serif; }

.chisono p {
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    margin: 5px;
    
    
}
.chisono li {text-align:center;
        font-size: 2em;
font-family: 'Raleway', sans-serif;}

.vangogh {
    
   font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 1.5em;
   
    
}


/*chiusura del box chi sono*/


/*inizio del box sugli studi*/

.percorsostudi { text-align: center;
    font-family: 'Raleway',sans-serif; 
    background-color: #F4BFDB;
    padding: 5px;
    
}



/*
.social {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color:#C5CAE6;
    
}
*/



/*inizio barra menu*/
 .menu {
        grid-column: 1 / span 3;    
        grid-row: 2;
        text-align:center;
        font-size: 1.3em;
     background-color: #F4BFDB;
         ;
       }


#box, label {display: none}
#box: checked  {display: block}
            
label:before {content: "Apri il menu"}
     
     
     
#box:checked ~ label:before {content: "chiudi il menu" }
            
.barraMenu { 
                margin: 0;
                padding:0;
                list-style: none;
                
    }
        

.barraMenu li {
                
                float: left;
                width: 20%;
                }

/*

.barraMenu li:last-child {
                float: left;
                width: 25%;
    
}
*/
            
.barraMenu  a {
                
                display: block;
                padding:.6em .0;
                text-decoration: none;
                text-align: center;
    color: black;
                
               
}

.barraMenu  a {
                
                display: block;
                padding:.6em .0;
                text-decoration: none;
                text-align: center;
    color: black;
                
               
}

a:visited {
                
                display: block;
                padding:.6em .0;
                text-decoration: none;
                text-align: center;
    color: black;
                
               
}

.testomenu a {text-align: center;
        font-size: 0.5 em;
        grid-column: 3;    
        grid-row: 1;
        font-family: 'Raleway', sans-serif;}




/*fine barra menu*/





/*Inizio corpo centrale con info sullo studio*/

	
.title {
     font-family: 'Raleway', sans-serif;
        font-size: 1em;
        color: black}


.paragrafo {font-family: 'Montserrat', sans-serif;
font-size: 0.7em;
color: black;
text-decoration: none;
list-style: none;
margin: 5px;}

.box a {text-decoration: none;
color: black;
font-size: 0.5em;
}

.box a:hover {text-decoration: underline}

.box a:visited {text-decoration: none;
color:black}

/*Fine contenuto scritto del box artisti*/


/*inizio corpo centrale:uso tag figure per poter gestire bene testo e contenuti*/


.boxstudio {background-color: #e9f1f7}

.studio {
position: relative;
overflow: hidden;
margin: 0 auto;
text-align: center;
image-orientation: center;

}

.studio h3 { font-family: 'Raleway', sans-serif;}

/*inizio transizione con colori al passaggio del mouse*/

.studio figcaption {
    
background:#F4BFDB;
position: absolute;
-webkit-transition: 900ms; 
-o-transition: 900ms; 
transition: 900ms;
width: 100%;
text-align:center;
 font-family: 'Raleway', sans-serif;

}


.studio[data-effect="fade-in"] figcaption {
top: 0;
left: 0;
height: 100%;
opacity: 0;
}

.studio[data-effect="fade-in"]:hover figcaption {
opacity:1;
}



/*effetto fade in fine - fine corpo centrale*/






/*parralax - parte spezza pagina filosofia */



.circus {
    text-align: center;
    font-family: 'Megrim', cursive;
    padding: 2em; 
    font-size: 2em;
    background-image: url(../smart%20crtiq.png);
    background-size: 1200px 200px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   cursor: pointer;
}


.circus h2 {
    z-index: 3;
    text-align: center;

    
}

.circus img {
    z-index: -1;
   
}




/*inizio info skills*/

.locationWrap {
    
        display: grid;
        grid-gap: 7%;
    grid-template-columns: 29% 29% 28%;
        grid-template-areas: 
        "hardskills softskills languageskills";
    background-color: #B27092;
    padding: 10px;
    }

/*      wrap nel wrap per rendere meglio la location  */

.hardskills {
    
        grid-column: 1;
        grid-row: 1;
        text-align:center;
        color: black
    
    }  

.hardskills h2 {font-family: 'Raleway', sans-serif}


.softskills {
    
        grid-column: 2;
        grid-row: 1;
        text-align:center;
        color: black
    
    } 

.softskills h2 {font-family: 'Raleway', sans-serif}

.languageskills {
    
        grid-column: 3;
        grid-row: 1;
        text-align:center;
        color: black
    
    }    

.languageskills h2 {font-family: 'Raleway', sans-serif}

/*fine skills */





.social {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color:#F4BFDB;
    padding: 10px;
    
}



.footer {
       
    text-align: center;
    font-size: .8em;
    }
    
    

.top{
    position: fixed;
    right:35px;
    bottom:-100px;
    z-index: 5;
    background: #fff;
    padding: 10px;
    cursor: pointer;
    transition: 0.6s;
}
   
    
     
    
/*media query finali*/


@media screen and (max-width:768px) {
    
/*    mediaq per far apparire il menu*/
    
label {
                    
                display: block;
                cursor: pointer;
                background: purple url(menu.png) no-repeat 95% center ;
                border-bottom: 1px solid #fff;
                padding: .5em 0;
                text-indent: 1em;
                color: #fff;
                    
                }
                
.barraMenu {
                    max-height: 0;
                    overflow: hidden;
                    transition: 1s;
    
                }
                

.barraMenu li {
                
                width: 100%;
                }
    
.barraMenu li img {display: none}
                
                
.barraMenu li a {
                
                
                text-align: left;
                text-indent: 1em;
                border-right: none;
                border-bottom: 1px solid #fff;
                
            }
    
.barraMenu li:last-child a {border-right: none}
                
                
                
#box:checked ~ ul {
         
                   max-height: 11em;
                    
                            }
    
    /* fine mediaq per far apparire il menu*/
    
    
    
/*    gestione delle slide centrali*/
    
    #slides 
    
    {display:flex;
        width:450px;
        height: 350px;
        border: none;
        margin: 0;
        padding: 0;
    }

    #slideshow {
    display: flex;
	position:relative;
	margin:10px auto;
        background-image:url(logo-music-fest-small.png);
        background-size: 300px 250px;
        background-repeat: no-repeat;
	-moz-box-shadow:0 0 15px blueviolet;
	-webkit-box-shadow:0 0 15px blueviolet;
	box-shadow:0 0 15px blueviolet;
        background-position: top;
        width:450px;
        height: 350px
   }
    
    
    #nav {
	margin:0;
	padding:0;
    text-decoration: none;
	z-index:10;
   
}
	
#nav li {float: none;
    text-align: center;
margin:1.5em;
    width: 100%;
    
    

}
	

#nav a {
	padding:5px 10px;
	margin:0 0 0 5px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	font-weight:bold;
	color:#000000;
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.4);
	-moz-box-shadow:0 0 4px #333333;
	-webkit-box-shadow:0 0 4px #333333;
	box-shadow:0 0 4px #333333;	


}
	
#nav a:hover, #nav a:focus {
	color:blueviolet;
	background: rgba(255,255,255,0.7);
	-moz-box-shadow:0 0 4px #000000;
	-webkit-box-shadow:0 0 4px #000000;
	box-shadow:0 0 4px #000000;
	outline:none;
}   

    
    /*  fine  gestione delle slide centrali*/
    
    
/*    rendere il wrapper più possibile responsive*/

    
.wrapper {
        display: grid;
    grid-gap: 1%;
grid-template-rows: auto auto auto 300px auto auto auto;
    grid-template-areas: 
        "menu menu menu"
            "chisono chisono chisono"
            "cosastudio cosastudio cosastudio"
            "marketingespresso marketingespresso marketingespresso"
        "start2impact start2impact start2impact"
        "lucalamesa lucalamesa lucalamesa"
            "digitalcoach digitalcoach digitalcoach"
        "ninjacademy ninjacademy ninjacademy"
        "labfortraining labfortraining labfortraining"

            "filosofia filosofia filosofia"
             "circus circus circus"

            "percorsolavoro percorsolavoro percorsolavoro"
            "lausanne lausanne lausanne"
        "webcontent  webcontent webcontent"
        "sheraton sheraton sheraton"
        "marriott marriott marriott "
        "disney disney disney "
        "hhotels hhotels hhotels"
        "inizio inizio inizio"
            "skills skills skills"
        "interessi interessi interessi"
        "interessiarea interessiarea interessiarea"
             "social social social"
        "footer footer footer"
            "footer footer footer"
        
    
    }
    
/*    parti inutili alla visione su dispositivi più piccoli*/
    
    .immagine {display: none}
    
    .footer {display: none}
    
    
    .locationWrap {
    
        display: grid;
        grid-template-areas: 
        "hardskills softskills languageskills";
       
    }
    

        
  
}

/*media query menu fine            */
     